.tienda-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.imagen-y-botones {
  position: relative;
  width: 100%;
  text-align: center; /* Centrar el contenido dentro del contenedor */
}

.imagen-tienda {
  max-width: 100%;
}

.boton-centrado {
  position: absolute;
  top: 50%;
  left: 25%; /* Ajusta el valor para controlar la posición horizontal del botón */
  transform: translate(
    -50%,
    -50%
  ); /* Centra vertical y horizontalmente el botón */
  background-color: var(--verde); /* Utiliza la variable de color */
  color: white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
