.tienda-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.imagen-y-botones {
  position: relative;
  width: 100%;
  text-align: center;
}

.imagen-tienda {
  max-width: 100%;
}

.boton-centrado {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: var(--verde);
  color: white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
