.guia-container {
  display: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.guia-image {
  position: relative;
  max-width: 100%;
  height: auto;
}

.guia-image img {
  max-width: 100%;
  height: auto;
}

.guia-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
