.comunidad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.animal-images {
  display: flex;
  justify-content: center; /* Centrar las imágenes de animales */
  align-items: center; /* Centrar verticalmente las imágenes de animales */
  margin: 20px;
}

.animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.persona-images {
  display: flex;
  justify-content: center; /* Centrar las imágenes de persona */
  align-items: center; /* Centrar verticalmente las imágenes de persona */
  margin: 20px;
}

.persona-images img {
  max-width: 100px; /* Ajusta el tamaño de las imágenes de las personas según sea necesario */
}

.descripcion {
  text-align: center;
  margin-top: 10px;
}
